<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>
    <h1>Submit some facts</h1>
    <div class="petFactBox">
        <h2 class="petFactText">If you have some fun animal facts, please submit them here and we'll use them!</h2>
    </div>
    <div id="submitFactDiv">
        <form action="/facts/" method="POST">
            <label for="submitter">Full Name</label>
            <input type="text" placeholder="Enter your full name" id="submitter" name="submitter" />
            <label for="fact">Fact</label>
            <textarea name="fact" id="fact" cols="30" rows="10" placeholder="Enter your fun facts here"></textarea>
            <button type="submit">Submit</button>
        </form>
        <div>
            <a href="/pets">Go back</a>
        </div>
    </div>
</body>

</html>